* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.fa {
  background: none;
}

body {
  background: url('./img/texture.png');
  background-size: cover;
  min-width: 1265px
}

button {
  background: none;
  background-color: rgba(128, 128, 128, 0.2);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin-bottom: 10px;
  width: 64px;
  cursor: pointer;
  font-size: 25px;
}

button:hover {
  background-color: rgba(128, 128, 128, 1);
}

input {
  width: 100%;
  margin-bottom: 10px;
}

.controls {
  padding-bottom: 10px;
}

.controls input {
  float: left;
  margin-right: 10px;
}

canvas {
  cursor: url('./img/br.png') 0 40, url('./img/eraser.png'), auto;
  margin: 30px auto;
  display: block;
  background: #fff;
}

aside {
  padding: 20px;
  font-size: 25px;
  position: absolute;
  width: 140px;
  text-align: center;
}

.active {
  background-color: rgba(179, 147, 255, 0.6);
}

.onlineUsers {
  color: #fff;
  padding: 20px;
  font-size: 25px;
  position: absolute;
  width: 135px;
  text-align: center;
  right: 0;
  top:0;
}

.chat {
	width: 666px;
	height: 200px;
	border: 1px solid rgb(192, 192, 192);
	padding: 10px;
	margin: 20px auto;
	overflow: auto;
  background-color: rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.75);
}

.inputChat {
  width: 567px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(128, 128, 128, 0.5);
  display: block;
  outline: none;
}
.item-messages {
  list-style: none;
  width: 100%;
  word-break: break-all;
}